<nav class="navbar navbar-expand-xl navbar-light  " style="background-color: #18708c;">
    <a class="navbar-brand" href="#">
      <img src="../../assets/media/Logo.png" width="100%" height="100" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex justify-content-end" style="margin-left: 40%;">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active">Inicio</a>
        
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/acerca" routerLinkActive="active">Acerca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" routerLink="/donadores" routerLinkActive="active">Donadores</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 d-flex justify-content-end" style=" gap: 10px;">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>


    
    <router-outlet></router-outlet> 
    
 

   