<h1 class="text-center">Animales en adopción</h1>
<div class="card-group row row-cols-1 row-cols-lg-3 g-4">
  @for (a of misAnimales; track a; let i = $index) {
    <div class="col">
      <div class="card h-100">

        <img src={{a.img}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{a.raza}}</h5>
          <p class="card-text">{{a.color}}</p>
            <p class="card-text">{{a.comportamiento}}</p>
          <p class="card-text"><small class="text-muted">{{a.tiempo}}</small></p>
        </div>
        <a [routerLink]="['/animal', i]" class="mb-3 btn btn-outline-primary btn-block">Agendar Cita para adopción</a>
      </div>
    </div>
  }
</div>