body{
    background-color: #dacdba;
    background-image: url('./assets/media/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
